<form class="link">
  <label>Name</label>
  <input name="name" type="text" class="span3" placeholder="Type something…">
  
  <label>Url</label>
  <input name="url" type="text" class="span3" placeholder="Type something…">

  <label>Tags</label>
  <input name="tags" type="text" class="span3" placeholder="Type something…">

  <button type="submit" class="btn">Save</button>
</form>
